<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<div class="top-container">
    <div class="smoke">
        <ul>
            <li>G</li>
            <li>O</li>
            <li>M</li>
            <li>E</li>
            <li>L</li>
            <li>-</li>
            <li>D</li>
            <li>E</li>
            <li>C</li>
            <li>O</li>
            <li>R</li>
            <li>.</li>
            <li>B</li>
            <li>Y</li>
        </ul>
    </div>
    <h1 style="margin-left: 4%"> Модульные картины под заказ </h1>
</div>

<div class="section ">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 new-col-lg-3">
                <div class="product-item">
                    <div>
                        <#--<img src="{% static 'img/svoya_fotka.jpg' %}" class="img-resp">-->
                    </div>
                    <h4><a class="text-in_block"> Индивидуальный заказ с вашим изображением </a></h4>
                </div>
            </div>

            <div class="col-lg-3 new-col-lg-3">
                <div class="product-item">
                    <div>
                        <#--<img src="{% static 'img/garantiya.jpg' %}" class="img-resp">-->
                    </div>
                    <h4><a class="text-in_block"> Мы гарантируем качетсво нашей продукции </a></h4>
                </div>
            </div>

            <div class="col-lg-3 new-col-lg-3">
                <div class="product-item">
                    <div>
                        <#--<img src="{% static 'img/clock.png' %}" class="img-resp">-->
                    </div>
                    <h4><a class="text-in_block"> Выполним заказ в кратчайшие сроки </a></h4>
                </div>
            </div>

            <div class="col-lg-3 new-col-lg-3">
                <div class="product-item">
                    <div>
                        <#--<img src="{% static 'img/ale.jpg' %}" class="img-resp">-->
                    </div>
                    <h4><a class="text-in_block"> Опт </a></h4>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>